.nav {
   overflow: auto;
   background: linear-gradient(31deg, rgba(101, 0, 94, 1) 3%, rgba(60, 132, 206, 1) 38%, rgba(48, 238, 226, 1) 68%, rgba(255, 25, 25, 1) 98%);
   display: flex;
   padding: 20px 60px;
   gap: 15px;
   justify-content: center;
}

.link {
   display: block;
   padding: 15px;
   width: 50px;
   justify-content: center;
   text-align: center;
   align-items: center;
   text-decoration: none;
   color: #65005e;
   border: solid 1px #65005e;
   border-radius: 10px;
   font-weight: 700;
   transition: 400ms;
}

.link:hover {
   background-color: rgba(46, 218, 248, 0.644);
   color: #ccfc4a;
   border: solid 1px #ccfc4a;
}

.link:focus {
   color: #ccfc4a;
   border: solid 1px #ccfc4a;
}